body{
  width: 100%;
  height: 100%;
  background-color: orange;
  margin: 0;
}

#video_ab{
  display: block;
  width: 600px;
  margin: auto;
  border: solid #fff 3px;
}

.center{
  width: 100%;
  text-align: center;
  list-style: none;
  display: block;
}

h1{
  text-align: center;
}
